* {
  outline: none;
  scrollbar-color: #ddd #201f35;
  scrollbar-width: thin;
}

a {
  cursor: pointer;
}

a:hover {
  color: #00f2ff;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: #0ec3c9;
  }
}

label > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 32px);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 4px;
  background: #000000;
  border: 2px solid #6a86cd;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background 0.2s, border-color 0.2s;
  flex-shrink: 0;
}

input[type="checkbox"]:hover {
  border-color: #00b3ff;
  transform: scale(1.2);
}

input[type="checkbox"]:checked::before,
input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background: linear-gradient(45deg, #00b3ff, #00f2ff);
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

input[type="checkbox"]:checked::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 4px;
  background: #000000;
  border: 2px solid #6a86cd;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background 0.2s, border-color 0.2s;
  box-sizing: border-box;
  flex-shrink: 0;
}

input[type="radio"]:hover {
  border-color: #00b3ff;
  transform: scale(1.2);
}

input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: linear-gradient(45deg, #00b3ff, #00f2ff);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 16px;
  margin: 4px;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 16px;
  background: #000000;
  border: 2px solid #4f6497;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 12px;
  border-radius: 4px;
  background: linear-gradient(45deg, #00b3ff, #00f2ff);
  cursor: pointer;
  margin-top: 1px;
  transition: all 0.2s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

input[type="range"]:active::-webkit-slider-thumb {
  background: linear-gradient(45deg, #0048ff, #00b3ff);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  transform: scale(1);
}

input[type="range"]:disabled::-webkit-slider-runnable-track {
  border-color: rgba(255, 255, 255, 0.3);
  background: #222;
  box-shadow: none;
}

button {
  font-size: 12px;
  width: 100%;
  margin: 6px;
  padding: 6px;
  background: #0f0718;
  color: #ddd;
  border: 1px solid #6a86cd;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: #28234e;
    border: 1px solid #0ec3c9;
  }
  &:active {
    background: #16002e;
    border: 1px solid #0ec3c9;
  }
  &:disabled {
    cursor: not-allowed;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
    background: #0f0718;
  }
}

fieldset {
  margin: 6px;
  min-width: 160px;
  height: 240px;
  overflow: auto;
}

ol {
  margin: auto;
}

li {
  transition: color 0.3s ease-in-out;
}

li:hover {
  color: #0ec3c9;
  cursor: pointer;
}

.button-auto {
  width: auto;
}

p {
  padding: 0 6px;
  margin: -10px 0;
}

.status {
  margin: 8px;
}

.App {
  background: #0a111e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  user-select: none;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.letter-row {
  margin: auto 6px;
}

.letter {
  margin: 0px;
  width: 36px;
}

.letter-selected {
  margin: 0px;
  width: 36px;
  background-color: #30449e;
  &:hover {
    background: #30449e;
  }
  &:active {
    background: #16002e;
  }
}

.game-canvas {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 6px;
}
